@charset "UTF-8";

body {
    background-color: rgb(186, 250, 250);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

h1 {color:  rgb(43, 57, 57);
    text-align: left;}

h1#principal {text-align: center;}

.texto {color: rgb(5, 32, 32);}


